<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h2>Activate account</h2>
<a href="<%= activateUrl %>" name="reg">Get Started</a>

</body>
</html>